.tb-main-content {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: var(--blue);
  color: white;
}

.tb-category {
  background-color: var(--blue);
  border-radius: 0.25em;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.tb-category:hover,
.tb-category.active {
  background-color: white;
  color: var(--blue);
}
