* {
  font-family: "Roboto";
  font-style: normal;
}

.lp-main-contents {
  height: 100vh;
  background: linear-gradient(
    180deg,
    #499ae6 0%,
    #499ae5 73.23%,
    rgba(255, 255, 255, 0.93) 100%
  );
}

.table-number {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 6vmax;
}

.info {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 4vmax;
}

.session-code-container {
  display: flex;
  flex-direction: row;
  height: 30vh;
  margin-inline: 5px;
  gap: 1em;
}

.session-code-input-container {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: center;
}

.session-code-input {
  display: flex;
  width: 5em;
  height: 1.5em;
  align-content: center;
  text-align: center;
  border: 0;
  border-radius: 0.25em;
}

.session-code-input:focus {
  outline: 1px solid lightblue;
}

.session-code-button-container {
  display: flex;
  width: 50%;
  justify-content: left;
  align-items: center;
}

.session-code-button {
  display: flex;
  background-color: whitesmoke;
  width: 4em;
  height: 1.65em;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 0.25em;
}
