* {
  font-family: Helvetica, sans-serif;
}

.lp-login-btn {
  width: calc(100% / 3);
  height: 3em;

  align-self: center;

  background-color: var(--gray);
  border: none;
  border-radius: 0.25em;
}

.lp-login-btn:hover {
  background-color: var(--dark-gray);
}
