* {
  font-family: "raleway";
}

.Card {
  height: 20vh;
  width: 50vw;
  background-color: orange;
  border: 3px solid red;
  border-radius: 20px;
  margin: auto;
  margin-top: 40vh;
  align-items: center;
}

.Header {
  text-align: center;
}

.qr-button {
  background-color: aquamarine;
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-left: 40%;
}

.qr-button:hover {
  background-color: aqua;
}
