.main-contents {
  background-color: transparent;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) );
  max-height: calc(100vh - var(--header-height) - var(--footer-height) );
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 var(--main-padding) 0 var(--main-padding);
}

.menu-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-top: var(--main-padding);
}

.menupage-footer {
  display: flex;
  flex-direction: row;
  height: var(--footer-height);
  width: 100vw;
  background-color: var(--accent-color-light);
  position: fixed;
  bottom: 0;

}
.basket-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
}
.basket-image-container img{
  height: 60%;
  aspect-ratio: 1;
  filter:invert(100%)
}

.menupage-footer-button-container{
  display: flex;
  flex-grow: 1;
}

.menupage-footer-button-container button{
  flex-grow: 1;
  margin: 5px;
  border-radius: var(--card-radius);
  border:none;
  outline: none;
  background-color: var(--accent-color);
}
.menupage-footer-button-container button:active{
  background-color: ;
}

.space {
  height: 40px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .main-contents {
    width: 50%;
  }
}
