.menu-card {

    display: flex;
    flex-direction: row;
    height: var(--card-height);
    border: 1px solid rgba(211, 136, 136, 0.2);
    background-color: var(--card-background-color);
    border-radius: var(--card-radius);

}

.card-image {

    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;


}

.card-image img {

    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: var(--card-radius);
    object-fit: cover;
}

.card-description {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: var(--card-padding);
    min-width: calc(100% - var(--card-height) - var(--control-width));
    max-height: 100%;
}

.card-details-container{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    flex-grow: 1;
}

.short-description {
    width:70%;
}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.price{
    max-width:30%;
    font-weight: bold;
}

.card-title {
    text-align: center;
}

.title {
    font-size: 1.25em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.price, .add-btn {

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;

}

.add-btn {
    width: calc(100% - 20px);

    font-size: 1.5em;
    background-color: var(--accent-color);
    border-radius: var(--card-radius);
    margin-bottom: 5px;
    padding: 0;
    color: white;
    transition-duration: 20ms;

}

.add-btn:active {
    cursor: pointer;
    background-color: var(--accent-color-dark);
}

.price {

    width: calc(100% - var(--card-padding));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: var(--card-padding);
    font-size: 0.9em;


}