* {
  font-family: Helvetica;
}

.Header {
  align-items: center;
}

.MenuCard {
  height: max-content;
  width: max-content;
  background-color: aquamarine;
  border: 3px solid aqua;
  border-radius: 10px;
  margin: auto;
  margin-top: 5vh;
  align-items: center;
}
