:root {
  --ComponentBackgroundBlue: #2b85d9;
  --ComponentBackgroundGrey: #d9d9d9;
}

.rv-main-content {
  display: flex;
  flex-direction: column;
}

.rv-topbar {
  height: 50px;
  font-size: 21px;
  margin-bottom: 0.5em;

  text-align: center;
  justify-content: center;

  background-color: var(--ComponentBackgroundBlue);
}

.rv-order-container {
  margin: 0.75em;

  border-radius: 10px;
  background-color: var(--ComponentBackgroundGrey);
}

.rv-add-commment-btn {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-color);
  width: fit-content;

  margin-bottom: 0.5em;
  margin-left: 0.2em;
}

.rv-order-commment-input {
  width: 80vw;
  height: 30vh;
  outline: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.rv-add-commment-container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 100000px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
